<% provide(:page_desc, "About") %>

<h1>About Me</h1>

<!-- Picture and Blurb -->
<div class="container-fixed">
  <div class="row">
    <div class="col-lg-12">
      <%= link_to image_tag("mypic.jpg", alt: "Don't worry about not seeing this, I'm pretty notoriously unphotogenic.",
                        size: "250x250",
                        class: "img-responsive",
                        style: "float:left; margin-right:25px; margin-left: 15%") %>
      <p>
        I'm a software developer 
      </p>
      
      <p>Contact me at <%= mail_to "rynkwn@gmail.com" %></p>
      
      <!-- Links -->
      <p>
        <%= link_to 'https://github.com/rynkwn' do %>
          <%= image_tag('icons/GitHub-Mark-32px.png') %> GitHub
        <% end %>
        
        <%= link_to 'https://github.com/rynkwn' do %>
          <%= image_tag('icons/GitHub-Mark-32px.png') %> GitHub
        <% end %>
      </p>

    </div>
  </div>
</div>

<h2>Work Experience</h2>

<h2>Programming Languages</h2>
test



<br>