<% provide(:page_desc, "Analytics") %>

<h1>Analytics</h1>

<%= form_tag(analytics_path, method: "get") do %>
  <%= select_tag(:table, options_for_select(@data_tables)) %>
  <%= submit_tag("Filter") %>
<% end %>

<br>

<table border="1" style="width:100%">
  <tr align="CENTER">
    <th>Key</th>
    <th>Value</th>
  </tr>
  <% @summary.keys.each do |page| %>
    <tr>
      <td><%= page %></td>
      <td><%= @summary[page] %></td>
    </tr>
  <% end %>
</table>

<br>

<%= form_tag(analytics_send_data_path, :method => "get", class: "navbar-form center") do %>
  <div class="input-append">
    <button class="btn btn-success btn-sm" type="submit"> Send Metadata and Clear </button>
  </div>
<% end %>