<%= form_for(@blog, html: {class: 'form', :autocomplete => "off"}) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :subject %>
    <%= collection_select(:subject, :subject_id, Subject.all, :id, :name, prompt: true) %>
  </div>
  
  <div class="form-group">
    <%= f.label :date_created %>
    <%= f.date_field :date_created, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area(:content, cols: 40, rows: 15, class: 'form-control') %>
  </div>
  
  <div class="form-group">
    <%= f.label :tags %>
    <%= f.text_field :tags, class: 'form-control' %>
  </div>
  
  <%= f.submit "Submit!", class: "btn-primary" %>
<% end %>
