<h1>My Daily Messenger</h1>

<!-- EXTRA CODE I MAY WANT TO REINSTATE AT SOME POINT.
    f.text_field :key_words, placeholder: "job internship free food competition research REU",
                    class: 'form-control'

-->

<%= form_for(@dm, html: {class: 'form', :autocomplete => "off"})do |f| %>
  <div class="form-group">
    
    <%= f.label :key_words, "What things do you want to filter for?"%>
    
    <table class="center">
      <% mdm_words.to_a.flatten.in_groups_of(4, '&nbsp;') {|group| %>
        <tr>
            <td><%= check_box_tag "words[]", group[1], checked = (group[1].split(",") - @dm.key_words).empty? %></td>
            <td class="text-left"><%= group[0] %></td>
            
            <% if group[3] == '&nbsp;' %>
              <td> </td>
              <td> </td>
            <% else %>
              <td><%= check_box_tag "words[]", group[3], checked = (group[3].split(",") - @dm.key_words).empty? %></td>
              <td class="text-left"><%= group[2] %></td>
            <% end %>
        </tr>
      <% } %>
    </table>
    
    <%= f.label 'What groups do you always want to receive daily messages from?' %>
    
    <table class="center">
      <% mdm_senders.to_a.flatten.in_groups_of(4, '&nbsp;') {|group| %>
        <tr>
            <td><%= check_box_tag "senders[]", group[1], checked = (group[1].split(",") - @dm.sender).empty? %></td>
            <td class="text-left"><%= group[0] %></td>
            
            <% if group[3] == '&nbsp;' %>
              <td> </td>
              <td> </td>
            <% else %>
              <td><%= check_box_tag "senders[]", group[3], checked = (group[3].split(",") - @dm.sender).empty? %></td>
              <td class="text-left"><%= group[2] %></td>
            <% end %>
        </tr>
      <% } %>
    </table>
    
  </div>
  
  <%= f.submit "Submit", class: "btn-primary" %>
<% end %>

<p>
  Tips for Daily Messenger:
  
  <ul>
    <li>You can go directly to "My Daily Messenger" from the account tab above!</li>
  </ul>
</p>