<h1>My Daily Messenger</h1>

<%= form_for(@dm, html: {class: 'form', :autocomplete => "off"})do |f| %>
  <div class="form-group">
    <%= f.label :key_words, "What key words do you want to filter for?" %>
    <%= f.text_field :key_words, placeholder: "job internship free food competition research REU",
                     class: 'form-control' %>
    
    <table class="center">
      <% mdm_words.each do |desc, values| %>
        <tr>
            <td><%= check_box_tag "words[]", values %></td>
            <td class="text-left"><%= desc %></td>
        </tr>
      <% end %>
    </table>
    
    
    
    <%= f.label 'What groups do you always want to receive daily messages from?' %>
    <%= f.text_field :sender, placeholder: "Frank Morgan, career center, dean's office, mathematics and statistics",
                     value: @dm.sender.map(&:capitalize).join(", "), class: 'form-control' %>
  </div>

  <%= f.submit "Submit", class: "btn-primary" %>
<% end %>

<p>
  Tips for Daily Messenger:
  
  <ul>
    <li>You can go directly to "My Daily Messenger" from the account tab above!</li>
    <li>Capitalization doesn't matter!</li>
    <li>Key words can be separated by either spaces or commas.</li>
    <li>When you specify groups you always want to hear from, separate them by commas!</li>
    <li>You can go crazy with spaces. We'll still love you.</li>
  </ul>
</p>

<p>
  Example Daily Message:
  
  <pre>
  === Daily Messages ===

  1. http://communications.williams.edu/publicity/daily-messages-guidelines/

     === Announcements ===

  2. Taxes:To File or Not to File?
       Confused on what to do with your W2? Don't miss out on the chance
       to get the 411 on tax filing from Williams' own Professor of
       Economics Sara LaLumia. We'll have food and raffles!
       MORE: http://web.williams.edu/messages/show.php?id=36079
            from Nani Manan, Office of Financial Aid

  3. Spring '16 Planetarium Shows
       The Spring 2016 Planetarium Shows will resume each Friday night
       beginning tonight, February 5th at 8PM. Please call X2188 or
       email mcr4@williams.edu for reservations.
       http://communications.williams.edu/news-releases/2_5_2016_planetariumspring/
            from Michele C. Rech, Astronomy Department

  4. Red Cross Blood Drive -- Tuesday, February 9
       There will be a Red Cross Blood Drive on Tuesday, February 9 from
       1:00-6:00 in the First Congregational Church. We will be tabling
       at Paresky for sign-ups today during lunch.
            from Ariel L. Silbert, Williams College Jewish Association

  5. Law School Exams
       LSAT Exams will be administered Saturday, February 6, 2016.
       Check-in procedures will begin approximately 8:00 a.m. in Room
       001 basement of Hopkins Hall. Please have appropriate ID and
       admission ticket.
            from Carol Witek, Registrar's Office

  6. SENIORS: Trivia Night @ The Log, brought to you by the Alumni Fun
       Seniors, join your Class Agents at The Log for Trivia on Tuesday,
       2/9 - Enjoy drinks and snacks on us, and get to know your class
       (and the Class Gift!) over trivia. Think you know your stuff?
       Come out and win prizes! Free pint glasses for the 50 people!
       MORE: http://web.williams.edu/messages/show.php?id=36124
            from Kara E. Sperry, Alumni Fund

     === Lectures/Films/Readings/Panels ===

  7. Obama/Clinton speech writer Jon Lovett '04 tonight 8 pm Bronf Aud
       ...and creator of primetime TV "1600 Penn" and FacTrak, on
       politics, comedy, and Powerball. Part of FrankFest
       http://web.williams.edu/Mathematics/csilva/FrankFest-2016.html,
       including Common Core writer Jason Zimba '91 Saturday 5 pm in
       Wege.
            from Frank Morgan, Mathematics and Statistics

  8. FrankFest
       A mathematics conference tomorrow (Saturday) celebrating all of
       the accomplishments of Frank Morgan, who is retiring from
       Williams College this academic year. Talks at all levels by past
       students and colleagues. Beginning at 8:45 a.m. in Wege
       Auditorium (Chem 123).
       MORE: http://web.williams.edu/messages/show.php?id=36074
            from Marissa Barschdorf, Mathematics and Statistics

     === Academics/Teaching/Research ===

  9. Statistics Colloquium by Gregory Johnson '16
       Simulating Random Variables: The Accept-Reject Method today
       1:10-2:00 pm, Bronfman Science Center 104
            from Marissa Barschdorf, Mathematics and Statistics

 10. Chemistry Research Fair Today
       Are you thinking about research in the Chemistry Department?
       Please join faculty and students to discuss research
       opportunities in our department, Friday, Feb 5, first floor of
       the Morley Science Labs from 12:45-2:15 p.m. Summer research
       applications will be available (due Feb 16).
            from Deborah Morandi, Chemistry Department

 11. Writing Workshop opens Monday, February 8
       The Writing Workshop will open Monday for drop-in sessions only,
       following the regular schedule: Mon-Thurs 10am-midnight, Fri-Sat
       10am-6pm. Scheduled appointments will be available starting Sun,
       Feb 14, once the online scheduler is activated. For more info, go
       to http://writing-programs.williams.edu/writing-workshop/
            from Stephanie E. Dunson, Office of Writing Programs

     === Art/Music/Theatre/Dance ===

 12. WALLS Pick Up Day at WCMA
       It's first come, first choice to bring home an original artwork
       from the recently expanded WALLS collection. Get a spot in line
       outside WCMA this Sunday by 2pm. Check out the collection on our
       new Instagram page @wcmawalls.
       http://wcma.williams.edu/exhibit/walls-evolves-expanding-a-living-collection/
            from Cara Borelli, Williams College Museum of Art

 13. On the Edges of Art and Science: New Exhibit in Sawyer Library
       This exhibit is a collection of beautiful images from Williams
       scientific research. The beauty of research can spark curiosity
       and encourage close looking. Also, by presenting research as art,
       this exhibit intends to pose questions about the meaning and
       intentionality of "art." Come check it out throughout Sawyer!
       MORE: http://web.williams.edu/messages/show.php?id=36036
            from Jeffrey N. Rubel, Art of Science at Williams

 14. Apply to be an Exploring the Arts Leader!
       Make the Berkshires feel like home to First Years as they explore
       it through theater, music, and the visual arts in their first
       days on campus. Apply here: http://goo.gl/forms/qcyXuJqzuf or
       email rh7@williams.edu today!
            from Rachel A. Heisler, Williams College Museum of Art

     === Athletics & Fitness ===

 15. Women's Lifting Club: First Meeting TODAY
       This club is women-only and geared towards beginners wanting to
       learn how to lift safely in a supportive, empowering environment.
       First organizational meeting 4pm Paresky 220 TODAY. Email Nikki
       at nc4 for more information.
            from Nicolette L. Caravelli, Women's Lifting Club

     === Campus Life & Student Organizations ===

 16. House Coordinator Self-Noms available today
       Looking for a leadership position on campus for next year? House
       Coordinator self-noms go live today. If you are interested in
       submitting a self-nom for the 2016-2017 House Coordinator
       selection process you can click
       http://student-life.williams.edu/student-involvement/residential-programs/the-neighborhoods/house-coordinators/ for more information and for the self-nom form. Please feel free to contact Patricia Leahey-Hays, pah2@williams.edu with any questions.
            from Patricia A. Leahey-Hays, Office of Student Life

 17. Get Baked First Friday Event: Perfect Pairs
       Come to Mission tonight to celebrate Valentine's Day early! Enjoy
       all your favorite flavor couples with these lovely desserts:
       peanut butter chocolate blossoms, chocolate coconut macaroons,
       cookies & cream bars, PBJ banana bread, & more! Baking starts at
       4 PM, serving at 10 PM! No experience necessary!
            from Maria Gancayco, Get Baked

 18. Chinese New Year Dinner at Goodrich
       Hello friends! Please join us for dinner on Chinese New Year this
       coming Monday, February 8th. Food will be catered from China
       Buffet at Goodrich from 5:00-7:30pm. Come celebrate the New Year
       and new semester with us, we'd love to see you there!
            from Donglin Zhang, CASO

 19. Purple Rain AUDITIONS! Starting Sunday @Bernhard Music Building
       Do you enjoy singing and want significant input in song
       decisions? If so, Purple Rain is the group for you! Whether or
       not you have any singing experience, we would love to hear you.
       Prepare one song to sing and make sure to sign up for auditions
       by the Paresky Mailroom Left Wall. Come show us what you've got!
            from Victoria N. Onuzuruike, Purple Rain

 20. Write for the Williams Record sports section!
       The Williams Record sports section is seeking writers for
       features, columns, and weekly recaps. We're open to any
       ideas/suggestions and we'd love to hear from you! If interested,
       please contact Reed (rtj1) or Skylar (sws2).
            from Reed T. Jenkins, The Williams Record

 21. NBC Spring Auditions!!!
       Missed the Fall auditions? Felt inspired after the NBC/Kofa Fall
       show? Come out to our auditions, this Saturday, 2:30pm in the '62
       Center Shared Studio!
            from Marieme N. Sall, NBC
            
    === Employment & Volunteer Opportunities ===

 22. Work with kids this summer in North Adams!
       Spend the summer interning at Mohawk Forest, an affordable
       housing community. Interns work with local teens to implement a
       summer day camp with an emphasis on environmental and health
       issues for the kids in the community. Email jly1@williams.edu
       with a cover letter and resume by March 4th if you're interested!
       MORE: http://web.williams.edu/messages/show.php?id=36091
            from Julia L. Yarak, Mohawk Forest Mentoring Program
            
 17. Seeking RA, skills in Stata required
       I'm seeking an RA for several projects in political economy.
       MORE: http://web.williams.edu/messages/show.php?id=35790
            from James Mahon, Political Science Department
            
     === Graduate & Career Services ===

 23. Field epidemiology internships available this summer
       Internships in Field Epidemiology are available in several
       countries this summer. Current sophomores and juniors with public
       health/medical interest are preferred. Send an email stating your
       interest with an attached resume ASAP to Dr. Nicholas H. Wright
       '57 at wrightnh@roadrunner.com.
            from Jane D. Cary, Career Center
            
 24. Emanuel Yekutiel Program - Friday, January 22 at 3:15pm in Mears
       Manny Yekutiel 11', will be in town to share his experiences as
       Deputy Finance Director for Hilary Clinton and Chief of Staff for
       FWD.us - an advocacy group founded by Mark Zuckerberg, Bill
       Gates, and Reid Hoffman.
       MORE: http://web.williams.edu/messages/show.php?id=35907
            from Mike K. O'Connor, Career Center
            
     === Community Engagement ===

 25. Work with Kids! Now hiring WRLF Educators for Spring.
       Come help run Woodchuck Wednesdays, an after school outdoor
       nature based education for 1st-4th graders Wednesdays 1:00-4:00
       at Sheep Hill. Apply today.
       http://learning-in-action.williams.edu/elementary-outreach/paid-positions/
            from Jennifer Swoap, Ctr-Learning in Action
______________________________________________________________________
  </pre>
</p>

