<h1>Anonymous Donations Accepted</h1>

<br>

<p>
</p>

<p>
  <% if @crushed %>
    *burp*
  <% end %>
  
  <% if @lookup %>
    <% if @crush %>
      <%= @crush.get_name %> has <%= pluralize(@crush.fans, 'fan') %>!
    <% else %>
      I'm sorry, we couldn't find that person.
    <% end %>
  <% end %>  
</p>

Drop your crush's name.
<%= form_tag(ada_path, :method => "get", class: "navbar-form center") do %>
  <div class="input-append">
    <%= text_field_tag :crush, params[:crush], size: 70, class: "span2 center", 
                       placeholder: "Yep. Drop it righhhhttttt here."%>
    <button class="btn btn-success btn-sm" type="submit"> Pray </button>
  </div>
<% end %>


<%= form_tag(ada_path, :method => "get", class: "navbar-form center") do %>
  <div class="input-append">
    <%= text_field_tag :lookup, params[:lookup], size: 68, class: "span2 center", 
                       placeholder: ""%>
    <button class="btn btn-success btn-sm" type="submit"> Search </button>
  </div>
<% end %>