# Keys will be shared, and will denote topic/heading.
    # Note. Each column below is internally represented and used as a hash.
    add_column :service_dailies, :adv_keywords, :text
    add_column :service_dailies, :adv_senders, :text
    add_column :service_dailies, :adv_categories, :text

<%= form_for(@dm, html: {class: 'form', :autocomplete => "off"})do |f| %>
  <div class="form-group">
    
    <br>
    
    <%= hidden_field_tag :option, "advanced" %>
    
    <%= f.label :key_words, "What topics are you interested in? (Separate keywords by commas)"%>
    
    <table>
      <% DAILY_MESSENGER_KEYWORDS.each do |key, value| %>
        <tr>
            <td><%= check_box_tag "words[]", key, checked = Arrayutils::include?(@dm.key_words, key) %></td>
            <td class="text-left"><%= key %></td>
            <td></td>
        </tr>
        
        <!-- Keyword specification -->
        <tr>
          <td></td>
          <td>Keywords to filter for:</td>
          <td></td>
        </tr>
        
        <!-- We need to do some prettying for human parsing. -->
        <% if !@dm.adv_keywords.empty? %>
          <% value = @dm.adv_keywords[key].gsub(',', ', ') %>
        <% else %>
          <% value = value.gsub(',', ', ') %>
        <% end %>
        
        <tr>
          <td colspan="3"><%= text_field_tag "advkeys[]", value, placeholder: 'Enter keywords to filter for', size: 40 %> </td>
        </tr>
        
        <!-- 2 empty rows for spacing -->
        <tr><td></td></tr>
        <tr><td></td></tr>
      <% end %>
    </table>
    
    <%= f.label 'What groups do you always want to receive daily messages from?' %>
    
    <table>
      <% DAILY_MESSENGER_KEYWORDS.each do |key, value| %>
        <tr>
            <td><%= check_box_tag "senders[]", key, checked = Arrayutils::include?(@dm.key_words, key) %></td>
            <td class="text-left"><%= key %></td>
        </tr>
      <% end %>
    </table>
    
  </div>
  
<div class="center">
  <%= f.submit "Save!", class: "btn-primary btn-lg" %>
</div>
  
<% end %>