<%= markdown '```
override def Bicentennial = "Every now and then"
```' %>

<h1>First Bicentennial aRg Coding Competition</h1>
<h3 class="center">May 7th, 2016</h3>

<p class="center">
  A coding competition with soda, music from Pandora, friends, a small
  prize for first place, and interview-style questions.
</p>

<p class="center bold">
  Co-hosted and organized with Benjamin Drews ('18)
</p>

<h3>The Problems</h3>

<%= link_to "Here's a pdf of the packet!", asset_path("projects/competitions/1/aRgCupProblems.pdf") %>

<br>

<h3>Congratulations to our Winners: Beginner's Luck!</h3>
<%= link_to image_tag("projects/competitions/1/pic1.jpg", alt: "A picture of the winners",
                      size: "816x459",
                      class: "img-responsive center"),
                      "#"
                      %>

<br>

<h5 class="center">
  Left to right: <strong>Colin Williams</strong> ('18, A former team member of Deadeye Gonzales, lately inducted into Beginner's Luck), 
  <strong>Olivia Lima</strong> ('17, Team Beginner's Luck),
  <strong>Bill Zito</strong> ('16, Team Beginner's Luck)
</h5>

<br>
<br>
<br>

<%= link_to image_tag("projects/competitions/1/pic2.jpg", alt: "A blurrier picture of the winners",
                      size: "816x459",
                      class: "img-responsive center"),
                      "#"
                      %>

<br>

<h5 class="center">
  A blurrier picture, as laughter made it difficult to hold the camera still.
</h5>

<br>

<h3>Format of the Competition:</h3>
<ul class="">
  <li><p>15 interview-style questions arranged in order of difficulty.</p></li>
  <ul>
    <li>4 Easy Questions</li>
    <li>8 Middling Questions</li>
    <li>3 Difficult Questions</li>
  </ul>
  <li><p>Teams of (at most) 3 share one laptop, and attempt to submit solutions for as many problems as possible</p></li>
  <li><p>Endless* amounts of soda and Pandora will occupy you.</p></li>
  <li><p>Stackhalla awaits those who do well.</p></li>
  <li><p>Open for both experienced programmers and those who are looking to get their feet wet.</p></li>
</ul>

<br>

<h3>Rules of the Competition:</h3>
<ul class="">
  <li><p>No Internet. Not even for libraries.</p></li>
  <li><p>Each problem will be worth an equal 6 points. Every incorrect submission will dock 1 point to a maximum of 5.</p></li>
  <li><p>Ties will be broken by comparing "Average Time Spent Per Problem".</p></li>
  <li><p>Creative attempts at disrupting my (the judge's) laptop will be received with clapping, as well as stern looks.</p></li>
  <li><p>You may code in: <%= markdown '``` 
  Java, Ruby, Python, C, Scala, SML, Lisp, R || Haskell 
  ```' %></p></li>
</ul>