<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon_large.ico' %>
  <meta property="og:image" content= <%= image_url("thumbnail1.png") %>/>
</head>

<behind-the-scenes-stuff>
  <% page_desc(yield(:page_desc)) %>
</behind-the-scenes-stuff>

<body>
  <%= render 'layouts/title' %>
  <div class="main">
    <% flash.each do |key, message| %>
      <div id="flash-<%= key %>" class="alert alert-<%= key %> fade in">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  
</body>
</html>
